main img {
    padding-left: 5vw;
    margin-top: 2vw;
    width: 10vw;
    border-left: 1px solid black ;
    margin-right: 1vw;
    padding-right: 2vw;
}

main img:first-child {
    padding-left: 8vw;
    padding-top: 5vw;
}
main {
    margin-bottom:5vw;
}
main section h2{
    margin-left: 4.5vw;
    margin-top: 2vw;
}
